doctype 5
html
    head
        meta(charset="utf-8")
        title Chat
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Chat")
        meta(name="author", content="Patrick Robinson")
        link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
        script(type='text/javascript', src='bootstrap/js/bootstrap.js')
        style(type='text/css')
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container
                    .brand(style='font-size:28px;') Chat
                    .nav-collapse.collapse
                        form.navbar-form.pull-right
                            .input-prepend
                                span.add-on @
                                input.span2(id="name", type="text", placeholder="Username")

        .container   
            #content

        .navbar.navbar-inverse.navbar-fixed-bottom
            .navbar-inner
                .container
                    .navbar-form.pull-left.input-block-level
                        .input-prepend.input-block-level
                            button.btn.btn-primary(type="button", onclick="sendMessage()") Send
                            input#mess.input-block-level(type="text", value="", onkeydown="Event_Key()")
        

        script(src="/socket.io/socket.io.js")
        script(type='text/javascript')
            var socket = io.connect('http://localhost');
            socket.on('put', function (data) {
                document.getElementById("content").innerHTML += "<b>" + data.Name + ":</b> " + data.Message + "<br>";
            });
            function sendMessage() {
                var mess = document.getElementById("mess");
                var name = document.getElementById("name").value;
                socket.emit('send', {
                    Name: name != "" ? name : "Unnamed User",
                    Message: mess.value
                });
                mess.value = "";
            }
            function Event_Key() {
                if (event.keyCode == 13) {
                    sendMessage();
                }
            }
